<div class="page-header">
  <h2>投稿編集</h2>
</div>

<%= render "common/alerts", object: @article %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for [:admin, @topic, @article] do |form| %>
  <%= render "articles/form", form: form %>
  <% end %>
  </div>
</div>
