/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  color: black;
  background-color: #FFFACD;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:link     { color: #00C; }
  &:visited  { color: #A08; }
  &:hover    { color: #CCF; }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#container {
  width: 900px;
  margin: 0 auto;
  padding: 0;
}

#header {
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #CCC;
  margin: 0;
  padding: 5px;
  text-align: center;
}

#content {
  padding: 10px;
}

.center {
  text-align: center;
}

.pagination {
  margin: 10px auto;
  text-align: center;
}

#menu {
  color: white;
  background-color: black;
  margin: 0;
  padding: 5px;
  text-align: right;

  a {
    &:link     { color: #CCC; }
    &:visited  { color: #ECC; }
  }
}

.alert {
  margin: 10px auto;
}
  
.notice {
  background-color: #98FB98;
  border: 5px double green;
}

.error {
  color: red;
  background-color: #FFE4E1;
  border: 5px double red;
}


#threads {
  background-color: white;
  width: 850px;
  margin: 0 auto;
  padding: 0;

  th {
    background-color: #00BFFF;
    padding: 5px;
  }
  
  td {
    padding: 5px;
  }

  .time {
    width: 150px;
  }
}

#thread-title {
  background-color: white;
  width: 760px; 
  margin: 20px auto;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 10px 10px;
}

.article {
  background-color: white;
  width: 770px;
  margin: 10px auto;
  padding: 0;
  border: 1px solid black;

  .article-header {
    background-color: #00BFFF;
    padding: 5px 15px
  }

  .article-body {
    margin: 20px 40px;
  }

  .article-footer {
    margin: 5px 15px;
    text-align: right;
  }
}

form {
  width: 700px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;

  .form-group {
    margin: 10px auto;
  }

  label {
    display: block;
    float: left;
    width: 100px;
    padding: 5px 10px;
    text-align: right;
  }

  input {
    width: 300px;
    padding: 5px;
  }

  textarea {
    width: 500px;
    height: 250px;
    padding: 5px;
  }

  input[type="submit"], button {
    width: 100px;
    font-size: 1em;
  }
}
