<% flash.each do |type, message| %>
  <div class="alert <%= type %>">
    <ul>
      <li><%= message %></li>
    </ul>
  </div>
<% end %>

<% if object && object.errors.any? %>
  <div class="alert error">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
