<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="cotainer">
    <div class="collapse navbar-collapse">
      <p class="navbar-text">&copy; <%= link_to 'コピーライト' %></p>
    </div>
  </div>
</nav>
